body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-weight: normal;
  src: url("./fonts/gilroy/gilroy-medium.ttf") format('truetype');
}

@font-face {
  font-family: "Gilroy-Regular";
  font-weight: normal;
  src: url("./fonts/gilroy/gilroy-regular.ttf") format('truetype');
}

@font-face {
  font-family: "Gilroy-Bold";
  font-weight: normal;
  src: url("./fonts/gilroy/gilroy-bold.ttf") format('truetype');
}

@font-face {
  font-family: "Gilroy-Thin";
  font-weight: 100;
  src: url("./fonts/gilroy/gilroy-ultralight.ttf") format('truetype');
}
